*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Gilroy;
}
body,html{
    height: 100%;
    width: 100%;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: darkcyan;
}
#card{
    border-radius: 15px;
    height: 450px;
    width: 350px;
    background-color: rgb(255, 254, 252);
    padding: 20px;
    text-align: center;
}
#card img{
    height: 55%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
    
}
#card h1{
    font-size: 23px;
    margin: 20px;
    font-weight: 800;
}
#card h3{
    font-size: 20px;
    color: red;
    font-weight: 700;
    margin: 20px;
    
}
button{
    border-radius: 10px;
    border: none;
    margin: 5px;
    cursor: pointer;
    font-size: 15px;
    background-color: darkcyan;
    color: white;
    padding: 10px;
    font-weight: 700;

}
#card #remove{
    background-color: #dadada;
    color: grey;
}


